.container {
    display: flex;
    height: 200px;
    border: 1px solid black;
}

.workweek, .weekend {
    display: flex;
    flex: 1;
}

.reminders, .special-dates {
    flex: 1;
    background-color: #eee;
}

.day {
    flex: 1;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.day:last-child {
    border-right: none;
}

.weekend .day {
    border-bottom: none;
}